*{
    margin: 0;
    padding:0;
}

body{
    background:black;
    color:white;
    font-family: system-ui;
}

.Grocery Admin{
    margin:auto;
    width:80%;


}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

input{
    width:100%;
    height:30px;
    outline:none;
    border: none;
    background: #111;
    margin:10px 0;
    border-radius: 4px;
    padding: 10px;
    color:white;
}

input.focus{
    background: #000;

}
.price{
    width:100%;          
    display:flex;
    gap:10px;
}

.price input{
    flex:1;              
}





button{
    width:100%;
    height: 30px;
    border:none;
    cursor:pointer;
    background: purple;
    color:white;
    border-radius: 20px;
    transition:0.5s;
    margin:10px;
}
button:hover{

   background:  light purple;
   letter-spacing: 1px;

}

table{
    width:100%;
    text-align: center;
    margin: 10px 0;
}
table{
    width:100%;
    text-align: center;
    margin: 10px 0;



}

table th{
    text-transform: uppercase;

}

th,td{
    padding:5px;
}

#category{
height: 40px;
width: 100%;
margin-top: 10px;
margin-bottom: 10px;


}